<a
  class="not-prose relative isolate inline-flex items-center gap-1.5 overflow-hidden rounded-full border border-neutral-200 px-3 py-1.5 text-sm font-medium text-neutral-700 hover:border-primary-400 hover:text-primary-600 bg-neutral/95 dark:bg-neutral-900/95 dark:border-neutral-700 dark:text-neutral-200 dark:hover:text-primary-400"
  href="{{ .Page.RelPermalink }}">
  {{ .Page.Title }}
  {{ if site.Params.taxonomy.showTermCount | default true }}
    <span class="text-xs text-neutral-500 dark:text-neutral-400">{{ .Count }}</span>
  {{ end }}
</a>
