<article class="w-full px-2 my-3 overflow-hidden sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4">
  <h2 class="flex items-center">
    <a
      class="text-xl font-medium decoration-primary-500 hover:underline hover:underline-offset-2"
      href="{{ .Page.RelPermalink }}"
      >{{ .Page.Title }}</a
    >
    {{ if site.Params.taxonomy.showTermCount | default true }}
      <span class="px-2 text-base text-primary-500">&middot;</span>
      <span class="text-base text-neutral-400">
        {{ .Count }}
      </span>
    {{ end }}
  </h2>
</article>
