{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}

{{ $caption := "" }}
{{ if .Params.featureimagecaption }}
  {{- $caption = .Params.featureimagecaption -}}
{{ end }}

{{- $alt := .Page.Title -}}
{{- with .Page.Params.alt }}{{ $alt = . }}{{ end -}}

{{- $images := .Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*background*" -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "*feature*" }}{{ end -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{- $featured := partial "inline/hero/get-hero-image.html" (dict "context" . "imageSrc" $featured) -}}

{{ if strings.HasSuffix $featured ".svg" }}
  <figure>
    <img class="w-full rounded-lg single_hero_round nozoom" alt="{{ $alt }}" src="{{ $featured.RelPermalink }}">
    {{ if $caption }}
      <figcaption
        class="text-sm text-neutral-700 dark:text-neutral-400 hover:underline"
        style="text-align: center;">
        {{ $caption | markdownify }}
      </figcaption>
    {{ end }}
  </figure>
{{ else }}
  {{ $processedImage := partial "inline/hero/process-image.html" (dict
    "imageObj" $featured
    "imageWidth" ($.Site.Params.backgroundImageWidth | default "1200")
    "disableImageOptimization" $disableImageOptimization
    )
  }}
  {{ $imageURL := $processedImage.RelPermalink | safeHTMLAttr }}
  <figure>
    <img
      class="w-full rounded-lg single_hero_round nozoom"
      alt="{{ $alt }}"
      src="{{ $imageURL }}"
      width="{{ $processedImage.Width }}"
      height="{{ $processedImage.Height }}">
    {{ if $caption }}
      <figcaption
        class="text-sm text-neutral-700 dark:text-neutral-400 hover:underline"
        style="text-align: center;">
        {{ $caption | markdownify }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
