{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}

{{ $isParentList := eq (.Scratch.Get "scope") "list" }}
{{ $shouldBlur := $.Params.layoutBackgroundBlur | default (or
  (and ($.Site.Params.article.layoutBackgroundBlur | default true) (not $isParentList))
  (and ($.Site.Params.list.layoutBackgroundBlur | default true) ($isParentList))
  )
}}

{{- $images := .Resources.ByType "image" -}}
{{- $background := $images.GetMatch "*background*" -}}

{{- if not $background }}
  {{ with .Site.Params.defaultBackgroundImage }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $background = resources.GetRemote . }}
    {{ else }}
      {{ $background = resources.Get . }}
    {{ end }}
  {{ end }}
{{ end -}}

{{- if not $background }}{{ $background = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{- if not $background }}{{ $background = $images.GetMatch "*feature*" }}{{ end -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{ if .Params.featureimage }}
  {{- $url:= .Params.featureimage -}}
  {{- if not $featured }}{{ $featured = resources.GetRemote $url }}{{ end -}}
{{ end }}
{{- if not $featured }}{{ $featured = $images.GetMatch "*background*" }}{{ end -}}

{{- if not $featured }}
  {{ with .Site.Params.defaultFeaturedImage }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $featured = resources.GetRemote . }}
    {{ else }}
      {{ $featured = resources.Get . }}
    {{ end }}
  {{ end }}
{{ end -}}

{{ $processedFeaturedImage := partial "inline/hero/process-image.html" (dict
  "imageObj" $featured
  "imageWidth" ($.Site.Params.backgroundImageWidth | default "1200")
  "disableImageOptimization" $disableImageOptimization
  )
}}
{{ $processedBackgroundImage := partial "inline/hero/process-image.html" (dict
  "imageObj" $background
  "imageWidth" ($.Site.Params.backgroundImageWidth | default "1200")
  "disableImageOptimization" $disableImageOptimization
  )
}}
{{ $processedFeaturedURL := $processedFeaturedImage.RelPermalink | safeHTMLAttr }}
{{ $processedBackgroundURL := $processedBackgroundImage.RelPermalink | safeHTMLAttr }}


<div
  class="w-full rounded-md h-36 md:h-56 lg:h-72 single_hero_basic nozoom"
  style="background-image: url({{ $processedFeaturedURL }});">
</div>

<div
  id="hero-bg-image"
  class="fixed inset-x-0 top-0 h-[800px] single_hero_background nozoom"
  style="background-image: url({{ $processedBackgroundURL }});">
  <div
    class="absolute inset-0 bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal">
  </div>
  <div
    class="absolute inset-0 opacity-30 dark:opacity-60 bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral dark:to-neutral-800 mix-blend-normal">
  </div>
</div>

{{ if $shouldBlur | default false }}
  {{ partial "hero/util-blur.html" (dict
    "blurId" "background-blur"
    "hasDiv" true
    "classes" "fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"
    "imageId" "hero-bg-image"
    "imageURL" $processedBackgroundURL
    ) | safeHTML
  }}
{{ end }}
