{
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "plugins": [
    "@awmottaz/prettier-plugin-void-html",
    "prettier-plugin-go-template",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "useTabs": false,
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "printWidth": 112,
        "bracketSameLine": true
      }
    },
    {
      "files": ["*.js", "*.mjs", "*.mts", "*.ts"],
      "options": {
        "semi": true,
        "useTabs": false,
        "printWidth": 112,
        "singleQuote": false
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.json*"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
