# https://github.com/gohugoio/hugo/blob/b39b24962350090122b5f3927456dde710cffb57/docs/.prettierignore
# https://github.com/gohugoio/hugo/blob/b39b24962350090122b5f3927456dde710cffb57/docs/.prettierrc

# develop
.vscode
node_modules
package.json

# Hugo
assets/lib
assets/css/compiled
content
themes
public
static
*.md

# Invalid nodes and unexpected tokens, mostly caused by unmatched tags in Hugo statements.
# For example:
# {{ with .Params.externalUrl }}
# <a href="{{ . }}">
#   {{ else }}
#   <a href="{{ .RelPermalink }}" class="min-w-full">
#     {{ end }}
# 
# This create an unclose node

layouts/_default/_markup/render-heading.html
layouts/_default/index.json
layouts/_default/list.html
layouts/shortcodes/screenshot.html
layouts/shortcodes/figure.html
layouts/partials/hugo-embedded/shortcodes/figure-default.html

assets/js/appearance.js
