<div id="{{ .Anchor | safeURL }}" class="anchor">{{ .Text | safeHTML }}></div>
<h{{ .Level }} class="relative group">{{ .Text | safeHTML }} 
    {{ if.Page.Params.showHeadingAnchors | default (.Page.Site.Params.article.showHeadingAnchors | default true) }}<span
        class="absolute top-0 w-6 transition-opacity opacity-0 ltr:-left-6 rtl:-right-6 not-prose group-hover:opacity-100">
        <a class="group-hover:text-primary-300 dark:group-hover:text-neutral-700"
            style="text-decoration-line: none !important;" href="#{{ .Anchor | safeURL }}" aria-label="{{ i18n "article.anchor_label" }}">#</a></span>        
    {{ end }}
</h{{ .Level }}>