<span>
  {{ $id := "null" }}
  {{ if eq .Kind "taxonomy" }}
    {{ $id = delimit (slice "views_taxonomy_" .Page.Data.Plural) "" }}
  {{ else if eq .Kind "term" }}
    {{ $id = delimit (slice "views_term_" .Page.Data.Term) "" }}
  {{ else }}
    {{ $translations := .AllTranslations }}
    {{ with .File }}
      {{ $path := .Path }}
      {{ range $translations }}
        {{ $lang := print "." .Lang ".md" }}
        {{ $path = replace $path $lang ".md" }}
      {{ end }}
      {{ $id = delimit (slice "views_" $path) "" }}
    {{ end }}
  {{ end }}
  <span
    id="{{ $id }}"
    class="animate-pulse inline-block text-transparent max-h-3 rounded-full -mt-[2px] align-middle bg-neutral-300 dark:bg-neutral-400"
    title="views"
    >loading</span
  >
  <span class="inline-block align-text-bottom">{{ partial "icon.html" "eye" }}</span>
</span>
