<span>
  <button
    id="button_likes"
    class="rounded-md border border-primary-400 px-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400"
    onclick="process_article()">
    <span id="button_likes_heart" class="inline-block align-text-bottom hidden"
      >{{ partial "icon.html" "heart" }}
    </span>
    <span id="button_likes_emtpty_heart" class="inline-block align-text-bottom"
      >{{ partial "icon.html" "heart-empty" }}</span
    >
    <span id="button_likes_text">&nbsp;Like</span>
  </button>
</span>
{{- /* Trim EOF */ -}}
