<span>
    {{ if eq .Kind "taxonomy"}}
    <span id="likes_taxonomy_{{ .Page.Data.Plural }}" 
    {{ else if eq .Kind "term"}}
    <span id="likes_term_{{ .Page.Data.Term }}" 
    {{ else }}
    <span id="likes_{{ .File.Path }}" 
    {{ end }}
        class="animate-pulse inline-block text-transparent max-h-3 rounded-full mt-[-2px] align-middle bg-neutral-300 dark:bg-neutral-400" title="likes">loading</span> 
    <span class="inline-block align-text-bottom">{{ partial "icon.html" "heart" }}</span>
</span>
{{- /* Trim EOF */ -}}