{{ define "main" }}
<article>
  <header class="max-w-prose">
    {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
    {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ .Title | emojify }}
    </h1>
    <div class="mt-8 mb-12 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta.html" (dict "context" . "scope" "single") }}
    </div>
  </header>
  <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
    {{ if and (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default false)) (in
    .TableOfContents "<ul") }} <div class="order-first px-0 lg:order-last lg:max-w-xs ltr:lg:pl-8 rtl:lg:pr-8">
      <div class="toc ltr:pl-5 rtl:pr-5 print:hidden lg:sticky lg:top-10">
        {{ partial "toc.html" . }}
      </div>
      </div>
      {{ end }}
      <div class="min-w-0 min-h-0 max-w-prose">
        {{ .Content | emojify }}
      </div>
      <script>
        if (typeof auth !== 'undefined') {
          var oid = "views_{{ .Path }}"
          var id = oid ? oid.replaceAll("/", "-") : oid

          var viewed = localStorage.getItem(id);

          if (!viewed) {
            auth.signInAnonymously()
              .then(() => {
                var docRef = db.collection('views').doc(id)
                localStorage.setItem(id, true);
                docRef.get().then((doc) => {
                  if (doc.exists) {
                    db.collection('views').doc(id).update({
                      views: firebase.firestore.FieldValue.increment(1)
                    });
                  } else {
                    db.collection('views').doc(id).set({ views: 1 })
                  }
                }).catch((error) => {
                  console.log("Error getting document:", error);
                });
              })
              .catch((error) => {
                var errorCode = error.code;
                var errorMessage = error.message;
                console.error(errorCode, errorMessage)
              });
          }
        }
      </script>
  </section>
  <footer class="pt-8 max-w-prose print:hidden">
    {{ partial "author.html" . }}
    {{ partial "sharing-links.html" . }}
    {{ partial "article-pagination.html" . }}
    {{ if .Params.showComments | default (.Site.Params.article.showComments | default false) }}
    {{ if templates.Exists "partials/comments.html" }}
    <div class="pt-3">
      <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
      <div class="pt-3">
        {{ partial "comments.html" . }}
      </div>
    </div>
    {{ else }}
    {{ warnf "[BLOWFISH] Comments are enabled for %s but no comments partial exists." .File.Path }}
    {{ end }}
    {{ end }}
  </footer>
</article>
{{ end }}