{{ define "main" }}

{{ .Scratch.Set "scope" "list" }}
{{ if .Site.Params.taxonomy.showHero | default false }}
{{ $heroStyle := print "hero/" .Site.Params.taxonomy.heroStyle ".html" }}
{{ if templates.Exists ( printf "partials/%s" $heroStyle ) }}
{{ partial $heroStyle . }}
{{ else }}
{{ partial "hero/basic.html" . }}
{{ end }}
{{- end -}}

{{ $toc := and (.Params.showTableOfContents | default (.Site.Params.taxonomy.showTableOfContents | default false)) (in
.TableOfContents "<ul") }} 

  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.taxonomy.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta/taxonomy.html" (dict "context" . "scope" "single") }}
    </div>
  </header>
  {{ if .Content }}
    <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
      <div class="min-w-0 min-h-0 max-w-prose">
        {{ .Content }}
      </div>
    </section>
  <script>
    var oid = "views_taxonomy_{{ .Data.Plural }}"
    var oid_likes = "likes_taxonomy_{{ .Data.Plural }}"
  </script>
  {{ $jsPage := resources.Get "js/page.js" }}
  {{ $jsPage = $jsPage | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $jsPage.RelPermalink }}" integrity="{{ $jsPage.Data.Integrity }}"></script>
  {{ end }}

  {{ if .Site.Params.taxonomy.cardView }}

  <section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
    {{ range .Data.Terms }}
    {{ partial "term-link/card.html" . }}
    {{ end }}
  </section>

  {{ else }}

  <section class="flex flex-wrap max-w-prose -mx-2 overflow-hidden">
    {{ range .Data.Terms }}
      {{ partial "term-link/text.html" . }}
    {{ end }}
  </section>

  {{ end }}


{{ end }}
