{{/* prettier-ignore-start */}}
{{ $enableReplay := site.Params.umamiAnalytics.enableReplay | default false }}
{{ $scriptName := site.Params.umamiAnalytics.scriptName | default "script.js" }}
{{ if isset site.Params.umamiAnalytics "domain" }}
  <script
    data-id="umami-script"
    defer
    src="https://{{ site.Params.umamiAnalytics.domain }}/{{ $scriptName }}"
    data-website-id="{{ site.Params.umamiAnalytics.websiteid }}"
    {{ with site.Params.umamiAnalytics.dataDomains }}data-domains="{{ . }}"{{ end }}
    data-do-not-track="{{ site.Params.umamiAnalytics.doNotTrack | default false }}"></script>
  {{ if $enableReplay }}
    <script
      data-id="umami-replay-script"
      defer
      src="https://{{ site.Params.umamiAnalytics.domain }}/recorder.js"
      data-website-id="{{ site.Params.umamiAnalytics.websiteid }}"
      {{ with site.Params.umamiAnalytics.dataDomains }}data-domains="{{ . }}"{{ end }}
      {{ with site.Params.umamiAnalytics.sampleRate }}data-sample-rate="{{ . }}"{{ end }}
      {{ with site.Params.umamiAnalytics.maskLevel }}data-mask-level="{{ . }}"{{ end }}
      {{ with site.Params.umamiAnalytics.maxDuration }}data-max-duration="{{ . }}"{{ end }}
      {{ with site.Params.umamiAnalytics.blockSelector }}data-block-selector="{{ . }}"{{ end }}></script>
  {{ end }}
{{ else }}
  <script
    data-id="umami-script"
    defer
    src="https://analytics.umami.is/script.js"
    data-website-id="{{ site.Params.umamiAnalytics.websiteid }}"
    data-do-not-track="{{ site.Params.umamiAnalytics.doNotTrack | default false }}"></script>
  {{ if $enableReplay }}
    <script
      data-id="umami-replay-script"
      defer
      src="https://analytics.umami.is/recorder.js"
      data-website-id="{{ site.Params.umamiAnalytics.websiteid }}"
      {{ with site.Params.umamiAnalytics.sampleRate }}data-sample-rate="{{ . }}"{{ end }}
      {{ with site.Params.umamiAnalytics.maskLevel }}data-mask-level="{{ . }}"{{ end }}
      {{ with site.Params.umamiAnalytics.maxDuration }}data-max-duration="{{ . }}"{{ end }}
      {{ with site.Params.umamiAnalytics.blockSelector }}data-block-selector="{{ . }}"{{ end }}></script>
  {{ end }}
{{ end }}
{{/* prettier-ignore-end */}}

{{ if .Site.Params.umamiAnalytics.enableTrackEvent | default true }}
  <script type="text/javascript">
    document.querySelector('script[data-id="umami-script"]').addEventListener("load", function () {
      const type = document.head.querySelector('meta[property = "og:type"]').getAttribute("content");
      let title = document.head.querySelector('meta[property = "og:title"]').getAttribute("content");
      let url = document.head.querySelector('meta[property = "og:url"]').getAttribute("content");
      umami.track(type + ":view", { title: title, url: url });
    });
  </script>
{{ end }}
