
/* Card Hover Effects */
.min-h-full.rounded.-xloverflow-hidden.shadow-lg {
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}

.min-h-full.rounded-xl.overflow-hidden.shadow-lg:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3); */
}

/* Make sure images and content don't overflow when zoomed */
.min-h-full.rounded-xl.overflow-hidden.shadow-lg {
  overflow: hidden !important;
}


p a, li a {
  border-bottom: .05em solid #b4e7f8;
  box-shadow: inset 0 -0.05em 0 #b4e7f8;
  color: inherit;
  transition: background-color .25s cubic-bezier(.33, .66, .66, 1);
  text-decoration: none;
}

p a:hover, li a:hover {
  background-color: #b4e7f8;
}

.dark p a:hover, .dark li a:hover {
  color: black;
}