:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(1.00 0.00 0);
  --clr-neutral-100: oklch(0.96 0.04 199);
  --clr-neutral-200: oklch(0.91 0.10 197);
  --clr-neutral-300: oklch(0.87 0.13 197);
  --clr-neutral-400: oklch(0.80 0.14 198);
  --clr-neutral-500: oklch(0.60 0.10 197);
  --clr-neutral-600: oklch(0.49 0.08 197);
  --clr-neutral-700: oklch(0.37 0.06 198);
  --clr-neutral-800: oklch(0.23 0.04 195);
  --clr-neutral-900: oklch(0.00 0.00 0);
  --clr-primary-50: oklch(1.00 0.00 0);
  --clr-primary-100: oklch(1.00 0.00 0);
  --clr-primary-200: oklch(0.96 0.04 83);
  --clr-primary-300: oklch(0.89 0.11 82);
  --clr-primary-400: oklch(0.83 0.16 79);
  --clr-primary-500: oklch(0.75 0.16 71);
  --clr-primary-600: oklch(0.66 0.14 72);
  --clr-primary-700: oklch(0.55 0.12 73);
  --clr-primary-800: oklch(0.45 0.10 73);
  --clr-primary-900: oklch(0.34 0.07 77);
  --clr-secondary-50: oklch(1.00 0.00 0);
  --clr-secondary-100: oklch(0.98 0.01 51);
  --clr-secondary-200: oklch(0.86 0.08 46);
  --clr-secondary-300: oklch(0.76 0.15 45);
  --clr-secondary-400: oklch(0.68 0.21 40);
  --clr-secondary-500: oklch(0.54 0.17 39);
  --clr-secondary-600: oklch(0.45 0.14 40);
  --clr-secondary-700: oklch(0.36 0.11 41);
  --clr-secondary-800: oklch(0.27 0.08 44);
  --clr-secondary-900: oklch(0.16 0.04 59);
}
