:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 255, 255, 255;
  --color-neutral-100: 214, 251, 252;
  --color-neutral-200: 142, 245, 247;
  --color-neutral-300: 70, 239, 243;
  --color-neutral-400: 15, 217, 222;
  --color-neutral-500: 10, 147, 150;
  --color-neutral-600: 7, 110, 112;
  --color-neutral-700: 5, 72, 74;
  --color-neutral-800: 2, 35, 35;
  --color-neutral-900: 0, 0, 0;
  --color-primary-50: 255, 255, 255;
  --color-primary-100: 255, 255, 255;
  --color-primary-200: 255, 240, 212;
  --color-primary-300: 255, 213, 136;
  --color-primary-400: 255, 187, 59;
  --color-primary-500: 238, 155, 0;
  --color-primary-600: 197, 128, 0;
  --color-primary-700: 156, 102, 0;
  --color-primary-800: 116, 75, 0;
  --color-primary-900: 75, 49, 0;
  --color-secondary-50: 255, 255, 255;
  --color-secondary-100: 255, 246, 241;
  --color-secondary-200: 254, 194, 166;
  --color-secondary-300: 252, 142, 91;
  --color-secondary-400: 251, 91, 15;
  --color-secondary-500: 187, 62, 3;
  --color-secondary-600: 147, 49, 2;
  --color-secondary-700: 107, 35, 2;
  --color-secondary-800: 67, 22, 1;
  --color-secondary-900: 26, 9, 0;
}
