/* Avocado scheme */
:root {
  --clr-neutral: oklch(1.00 0.00 0);
  /* Stone */
  --clr-neutral-50: oklch(0.98 0.00 106);
  --clr-neutral-100: oklch(0.97 0.00 106);
  --clr-neutral-200: oklch(0.92 0.00 49);
  --clr-neutral-300: oklch(0.87 0.00 56);
  --clr-neutral-400: oklch(0.72 0.01 56);
  --clr-neutral-500: oklch(0.55 0.01 58);
  --clr-neutral-600: oklch(0.44 0.01 74);
  --clr-neutral-700: oklch(0.37 0.01 68);
  --clr-neutral-800: oklch(0.27 0.01 34);
  --clr-neutral-900: oklch(0.22 0.01 56);
  /* Lime */
  --clr-primary-50: oklch(0.99 0.03 121);
  --clr-primary-100: oklch(0.97 0.07 122);
  --clr-primary-200: oklch(0.94 0.12 124);
  --clr-primary-300: oklch(0.90 0.18 127);
  --clr-primary-400: oklch(0.85 0.21 129);
  --clr-primary-500: oklch(0.77 0.20 131);
  --clr-primary-600: oklch(0.65 0.18 132);
  --clr-primary-700: oklch(0.53 0.14 132);
  --clr-primary-800: oklch(0.45 0.11 131);
  --clr-primary-900: oklch(0.41 0.10 131);
  /* Emerald */
  --clr-secondary-50: oklch(0.98 0.02 166);
  --clr-secondary-100: oklch(0.95 0.05 163);
  --clr-secondary-200: oklch(0.90 0.09 164);
  --clr-secondary-300: oklch(0.85 0.13 165);
  --clr-secondary-400: oklch(0.77 0.15 163);
  --clr-secondary-500: oklch(0.70 0.15 162);
  --clr-secondary-600: oklch(0.60 0.13 163);
  --clr-secondary-700: oklch(0.51 0.10 166);
  --clr-secondary-800: oklch(0.43 0.09 167);
  --clr-secondary-900: oklch(0.38 0.07 169);
}
