:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    254,197,207;
--color-neutral-200:    253,121,144;
--color-neutral-300:    251,46,82;
--color-neutral-400:    217,4,41;
--color-neutral-500:    177,3,33;
--color-neutral-600:    137,3,26;
--color-neutral-700:    97,2,18;
--color-neutral-800:    57,1,11;
--color-neutral-900:    17,0,3;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    230,233,238;
--color-primary-300:    186,193,206;
--color-primary-400:    141,153,174;
--color-primary-500:    117,132,157;
--color-primary-600:    97,111,136;
--color-primary-700:    80,92,113;
--color-primary-800:    63,72,89;
--color-primary-900:    46,53,65;
--color-secondary-50:     255,255,255;
--color-secondary-100:    217,230,238;
--color-secondary-200:    164,195,215;
--color-secondary-300:    111,160,192;
--color-secondary-400:    69,123,157;
--color-secondary-500:    57,101,129;
--color-secondary-600:    44,79,100;
--color-secondary-700:    32,56,72;
--color-secondary-800:    19,34,44;
--color-secondary-900:    7,12,15;
}