/* Fire scheme */
:root {
  --clr-neutral: oklch(1.00 0.00 0);
  /* Stone */
  --clr-neutral-50: oklch(0.98 0.00 106);
  --clr-neutral-100: oklch(0.97 0.00 106);
  --clr-neutral-200: oklch(0.92 0.00 49);
  --clr-neutral-300: oklch(0.87 0.00 56);
  --clr-neutral-400: oklch(0.72 0.01 56);
  --clr-neutral-500: oklch(0.55 0.01 58);
  --clr-neutral-600: oklch(0.44 0.01 74);
  --clr-neutral-700: oklch(0.37 0.01 68);
  --clr-neutral-800: oklch(0.27 0.01 34);
  --clr-neutral-900: oklch(0.22 0.01 56);
  /* Orange */
  --clr-primary-50: oklch(0.98 0.02 74);
  --clr-primary-100: oklch(0.95 0.04 75);
  --clr-primary-200: oklch(0.90 0.07 71);
  --clr-primary-300: oklch(0.84 0.12 66);
  --clr-primary-400: oklch(0.76 0.16 56);
  --clr-primary-500: oklch(0.70 0.19 48);
  --clr-primary-600: oklch(0.65 0.19 41);
  --clr-primary-700: oklch(0.55 0.17 38);
  --clr-primary-800: oklch(0.47 0.14 37);
  --clr-primary-900: oklch(0.41 0.12 38);
  /* Rose */
  --clr-secondary-50: oklch(0.97 0.02 12);
  --clr-secondary-100: oklch(0.94 0.03 13);
  --clr-secondary-200: oklch(0.89 0.06 10);
  --clr-secondary-300: oklch(0.81 0.11 12);
  --clr-secondary-400: oklch(0.72 0.17 13);
  --clr-secondary-500: oklch(0.65 0.22 16);
  --clr-secondary-600: oklch(0.59 0.22 18);
  --clr-secondary-700: oklch(0.51 0.20 17);
  --clr-secondary-800: oklch(0.45 0.17 14);
  --clr-secondary-900: oklch(0.41 0.15 10);
}
