:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(1.00 0.00 0);
  --clr-neutral-100: oklch(0.94 0.01 185);
  --clr-neutral-200: oklch(0.84 0.02 185);
  --clr-neutral-300: oklch(0.73 0.03 187);
  --clr-neutral-400: oklch(0.61 0.04 184);
  --clr-neutral-500: oklch(0.53 0.04 184);
  --clr-neutral-600: oklch(0.46 0.03 184);
  --clr-neutral-700: oklch(0.37 0.02 184);
  --clr-neutral-800: oklch(0.29 0.02 184);
  --clr-neutral-900: oklch(0.19 0.01 197);
  --clr-primary-50: oklch(1.00 0.00 0);
  --clr-primary-100: oklch(1.00 0.00 0);
  --clr-primary-200: oklch(0.96 0.05 188);
  --clr-primary-300: oklch(0.91 0.11 185);
  --clr-primary-400: oklch(0.88 0.15 183);
  --clr-primary-500: oklch(0.87 0.15 181);
  --clr-primary-600: oklch(0.78 0.14 181);
  --clr-primary-700: oklch(0.67 0.12 181);
  --clr-primary-800: oklch(0.56 0.10 181);
  --clr-primary-900: oklch(0.44 0.08 181);
  --clr-secondary-50: oklch(1.00 0.00 0);
  --clr-secondary-100: oklch(0.94 0.08 159);
  --clr-secondary-200: oklch(0.89 0.16 156);
  --clr-secondary-300: oklch(0.86 0.22 151);
  --clr-secondary-400: oklch(0.76 0.21 149);
  --clr-secondary-500: oklch(0.65 0.18 149);
  --clr-secondary-600: oklch(0.54 0.15 149);
  --clr-secondary-700: oklch(0.42 0.11 150);
  --clr-secondary-800: oklch(0.29 0.07 152);
  --clr-secondary-900: oklch(0.14 0.03 161);
}
