:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 248, 250, 252;
  --color-neutral-100: 241, 245, 249;
  --color-neutral-200: 226, 232, 240;
  --color-neutral-300: 203, 213, 225;
  --color-neutral-400: 148, 163, 184;
  --color-neutral-500: 100, 116, 139;
  --color-neutral-600: 71, 85, 105;
  --color-neutral-700: 51, 57, 65;
  --color-neutral-800: 20, 25, 31;
  --color-neutral-900: 15, 23, 42;

  --color-primary-50: 226, 242, 255;
  --color-primary-100: 186, 221, 255;
  --color-primary-200: 141, 201, 255;
  --color-primary-300: 91, 179, 255;
  --color-primary-400: 50, 162, 255;
  --color-primary-500: 0, 146, 255;
  --color-primary-600: 23, 131, 255;
  --color-primary-700: 31, 113, 235;
  --color-primary-800: 35, 95, 216;
  --color-primary-900: 38, 61, 185;

  --color-secondary-50: 255, 236, 241;
  --color-secondary-100: 255, 208, 218;
  --color-secondary-200: 253, 157, 166;
  --color-secondary-300: 249, 117, 130;
  --color-secondary-400: 255, 79, 98;
  --color-secondary-500: 255, 57, 73;
  --color-secondary-600: 255, 48, 72;
  --color-secondary-700: 237, 36, 65;
  --color-secondary-800: 224, 27, 58;
  --color-secondary-900: 209, 4, 45;
}
