:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(0.98 0.00 248);
  --clr-neutral-100: oklch(0.97 0.01 248);
  --clr-neutral-200: oklch(0.93 0.01 256);
  --clr-neutral-300: oklch(0.87 0.02 253);
  --clr-neutral-400: oklch(0.71 0.04 257);
  --clr-neutral-500: oklch(0.55 0.04 257);
  --clr-neutral-600: oklch(0.45 0.04 257);
  --clr-neutral-700: oklch(0.34 0.02 256);
  --clr-neutral-800: oklch(0.21 0.01 253);
  --clr-neutral-900: oklch(0.21 0.04 266);

  --clr-primary-50: oklch(0.95 0.02 242);
  --clr-primary-100: oklch(0.88 0.06 248);
  --clr-primary-200: oklch(0.82 0.10 247);
  --clr-primary-300: oklch(0.74 0.14 247);
  --clr-primary-400: oklch(0.69 0.17 249);
  --clr-primary-500: oklch(0.65 0.19 251);
  --clr-primary-600: oklch(0.62 0.21 256);
  --clr-primary-700: oklch(0.57 0.20 259);
  --clr-primary-800: oklch(0.52 0.20 262);
  --clr-primary-900: oklch(0.43 0.20 268);

  --clr-secondary-50: oklch(0.96 0.02 360);
  --clr-secondary-100: oklch(0.90 0.05 4);
  --clr-secondary-200: oklch(0.80 0.11 14);
  --clr-secondary-300: oklch(0.72 0.16 16);
  --clr-secondary-400: oklch(0.68 0.21 19);
  --clr-secondary-500: oklch(0.66 0.23 23);
  --clr-secondary-600: oklch(0.65 0.24 22);
  --clr-secondary-700: oklch(0.61 0.23 21);
  --clr-secondary-800: oklch(0.58 0.22 21);
  --clr-secondary-900: oklch(0.54 0.22 23);
}
