:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     180,192,239;
--color-neutral-100:    137,156,231;
--color-neutral-200:    95,120,222;
--color-neutral-300:    53,85,213;
--color-neutral-400:    37,65,178;
--color-neutral-500:    31,54,148;
--color-neutral-600:    25,43,119;
--color-neutral-700:    19,33,89;
--color-neutral-800:    12,22,60;
--color-neutral-900:    6,11,30;
--color-primary-50:     250,187,210;
--color-primary-100:    246,140,178;
--color-primary-200:    242,93,147;
--color-primary-300:    239,45,115;
--color-primary-400:    216,17,89;
--color-primary-500:    192,15,79;
--color-primary-600:    169,13,70;
--color-primary-700:    145,11,60;
--color-primary-800:    121,10,50;
--color-primary-900:    98,8,40;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,242,219;
--color-secondary-200:    255,224,168;
--color-secondary-300:    255,206,117;
--color-secondary-400:    255,188,66;
--color-secondary-500:    255,179,40;
--color-secondary-600:    255,170,15;
--color-secondary-700:    244,158,0;
--color-secondary-800:    219,141,0;
--color-secondary-900:    194,125,0;
}