:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 255, 255, 255;
  --color-neutral-100: 255, 255, 255;
  --color-neutral-200: 201, 209, 244;
  --color-neutral-300: 137, 156, 231;
  --color-neutral-400: 74, 103, 217;
  --color-neutral-500: 37, 65, 178;
  --color-neutral-600: 30, 53, 144;
  --color-neutral-700: 23, 40, 110;
  --color-neutral-800: 16, 28, 77;
  --color-neutral-900: 9, 16, 43;
  --color-primary-50: 255, 255, 255;
  --color-primary-100: 255, 255, 255;
  --color-primary-200: 252, 211, 226;
  --color-primary-300: 246, 140, 178;
  --color-primary-400: 240, 69, 131;
  --color-primary-500: 216, 17, 89;
  --color-primary-600: 178, 14, 73;
  --color-primary-700: 140, 11, 58;
  --color-primary-800: 103, 8, 42;
  --color-primary-900: 65, 5, 27;
  --color-secondary-50: 255, 255, 255;
  --color-secondary-100: 255, 255, 255;
  --color-secondary-200: 255, 255, 255;
  --color-secondary-300: 255, 242, 219;
  --color-secondary-400: 255, 215, 143;
  --color-secondary-500: 255, 188, 66;
  --color-secondary-600: 255, 174, 25;
  --color-secondary-700: 239, 155, 0;
  --color-secondary-800: 199, 128, 0;
  --color-secondary-900: 158, 102, 0;
}
