:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(1.00 0.00 0);
  --clr-neutral-100: oklch(1.00 0.00 0);
  --clr-neutral-200: oklch(0.87 0.05 275);
  --clr-neutral-300: oklch(0.71 0.11 272);
  --clr-neutral-400: oklch(0.55 0.18 269);
  --clr-neutral-500: oklch(0.43 0.18 267);
  --clr-neutral-600: oklch(0.37 0.15 267);
  --clr-neutral-700: oklch(0.31 0.12 268);
  --clr-neutral-800: oklch(0.25 0.09 268);
  --clr-neutral-900: oklch(0.18 0.06 269);
  --clr-primary-50: oklch(1.00 0.00 0);
  --clr-primary-100: oklch(1.00 0.00 0);
  --clr-primary-200: oklch(0.91 0.05 354);
  --clr-primary-300: oklch(0.76 0.13 358);
  --clr-primary-400: oklch(0.65 0.21 3);
  --clr-primary-500: oklch(0.57 0.22 10);
  --clr-primary-600: oklch(0.49 0.19 10);
  --clr-primary-700: oklch(0.41 0.16 9);
  --clr-primary-800: oklch(0.33 0.13 8);
  --clr-primary-900: oklch(0.25 0.09 5);
  --clr-secondary-50: oklch(1.00 0.00 0);
  --clr-secondary-100: oklch(1.00 0.00 0);
  --clr-secondary-200: oklch(1.00 0.00 0);
  --clr-secondary-300: oklch(0.97 0.03 82);
  --clr-secondary-400: oklch(0.90 0.10 82);
  --clr-secondary-500: oklch(0.84 0.15 78);
  --clr-secondary-600: oklch(0.81 0.17 74);
  --clr-secondary-700: oklch(0.76 0.16 71);
  --clr-secondary-800: oklch(0.66 0.14 71);
  --clr-secondary-900: oklch(0.56 0.12 72);
}
