:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(1.00 0.00 0);
  --clr-neutral-100: oklch(1.00 0.00 0);
  --clr-neutral-200: oklch(0.86 0.08 304);
  --clr-neutral-300: oklch(0.69 0.17 301);
  --clr-neutral-400: oklch(0.55 0.25 296);
  --clr-neutral-500: oklch(0.49 0.26 291);
  --clr-neutral-600: oklch(0.43 0.23 292);
  --clr-neutral-700: oklch(0.37 0.20 292);
  --clr-neutral-800: oklch(0.31 0.16 293);
  --clr-neutral-900: oklch(0.24 0.12 294);
  --clr-primary-50: oklch(1.00 0.00 0);
  --clr-primary-100: oklch(0.95 0.03 349);
  --clr-primary-200: oklch(0.80 0.13 353);
  --clr-primary-300: oklch(0.69 0.22 358);
  --clr-primary-400: oklch(0.64 0.26 8);
  --clr-primary-500: oklch(0.56 0.22 8);
  --clr-primary-600: oklch(0.48 0.19 7);
  --clr-primary-700: oklch(0.40 0.16 6);
  --clr-primary-800: oklch(0.31 0.12 4);
  --clr-primary-900: oklch(0.21 0.08 0);
  --clr-secondary-50: oklch(1.00 0.00 0);
  --clr-secondary-100: oklch(1.00 0.00 0);
  --clr-secondary-200: oklch(0.91 0.04 260);
  --clr-secondary-300: oklch(0.77 0.12 260);
  --clr-secondary-400: oklch(0.64 0.20 260);
  --clr-secondary-500: oklch(0.58 0.23 261);
  --clr-secondary-600: oklch(0.52 0.23 261);
  --clr-secondary-700: oklch(0.45 0.19 261);
  --clr-secondary-800: oklch(0.38 0.16 261);
  --clr-secondary-900: oklch(0.31 0.12 260);
}
