:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    214,219,222;
--color-neutral-300:    172,183,188;
--color-neutral-400:    129,146,154;
--color-neutral-500:    92,107,115;
--color-neutral-600:    74,86,92;
--color-neutral-700:    56,65,70;
--color-neutral-800:    38,44,47;
--color-neutral-900:    19,23,24;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    250,251,252;
--color-primary-400:    204,216,222;
--color-primary-500:    157,180,192;
--color-primary-600:    132,161,176;
--color-primary-700:    107,142,160;
--color-primary-800:    89,121,138;
--color-primary-900:    73,99,113;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    182,240,255;
--color-secondary-300:    105,225,255;
--color-secondary-400:    28,209,255;
--color-secondary-500:    0,165,207;
--color-secondary-600:    0,132,166;
--color-secondary-700:    0,100,125;
--color-secondary-800:    0,67,85;
--color-secondary-900:    0,35,44;
}