:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(1.00 0.00 0);
  --clr-neutral-100: oklch(1.00 0.00 0);
  --clr-neutral-200: oklch(0.89 0.01 234);
  --clr-neutral-300: oklch(0.77 0.01 227);
  --clr-neutral-400: oklch(0.65 0.02 228);
  --clr-neutral-500: oklch(0.52 0.02 231);
  --clr-neutral-600: oklch(0.44 0.02 229);
  --clr-neutral-700: oklch(0.37 0.01 232);
  --clr-neutral-800: oklch(0.29 0.01 229);
  --clr-neutral-900: oklch(0.20 0.01 214);
  --clr-primary-50: oklch(1.00 0.00 0);
  --clr-primary-100: oklch(1.00 0.00 0);
  --clr-primary-200: oklch(1.00 0.00 0);
  --clr-primary-300: oklch(0.99 0.00 248);
  --clr-primary-400: oklch(0.87 0.02 229);
  --clr-primary-500: oklch(0.76 0.03 230);
  --clr-primary-600: oklch(0.69 0.04 231);
  --clr-primary-700: oklch(0.63 0.05 231);
  --clr-primary-800: oklch(0.56 0.05 232);
  --clr-primary-900: oklch(0.48 0.04 232);
  --clr-secondary-50: oklch(1.00 0.00 0);
  --clr-secondary-100: oklch(1.00 0.00 0);
  --clr-secondary-200: oklch(0.92 0.06 215);
  --clr-secondary-300: oklch(0.85 0.11 217);
  --clr-secondary-400: oklch(0.80 0.14 222);
  --clr-secondary-500: oklch(0.67 0.13 224);
  --clr-secondary-600: oklch(0.57 0.11 224);
  --clr-secondary-700: oklch(0.47 0.09 223);
  --clr-secondary-800: oklch(0.36 0.07 223);
  --clr-secondary-900: oklch(0.24 0.04 219);
}
