/* Ocean scheme */
:root {
  --clr-neutral: oklch(1.00 0.00 0);
  /* Gray */
  --clr-neutral-50: oklch(0.98 0.00 248);
  --clr-neutral-100: oklch(0.97 0.01 248);
  --clr-neutral-200: oklch(0.93 0.01 256);
  --clr-neutral-300: oklch(0.87 0.02 253);
  --clr-neutral-400: oklch(0.71 0.04 257);
  --clr-neutral-500: oklch(0.55 0.04 257);
  --clr-neutral-600: oklch(0.45 0.04 257);
  --clr-neutral-700: oklch(0.37 0.04 257);
  --clr-neutral-800: oklch(0.28 0.04 260);
  --clr-neutral-900: oklch(0.21 0.04 266);
  /* Blue */
  --clr-primary-50: oklch(0.97 0.01 255);
  --clr-primary-100: oklch(0.93 0.03 256);
  --clr-primary-200: oklch(0.88 0.06 254);
  --clr-primary-300: oklch(0.81 0.10 252);
  --clr-primary-400: oklch(0.71 0.14 255);
  --clr-primary-500: oklch(0.62 0.19 260);
  --clr-primary-600: oklch(0.55 0.22 263);
  --clr-primary-700: oklch(0.49 0.22 264);
  --clr-primary-800: oklch(0.42 0.18 266);
  --clr-primary-900: oklch(0.38 0.14 266);
  /* Cyan */
  --clr-secondary-50: oklch(0.98 0.02 201);
  --clr-secondary-100: oklch(0.96 0.04 203);
  --clr-secondary-200: oklch(0.92 0.08 205);
  --clr-secondary-300: oklch(0.87 0.12 207);
  --clr-secondary-400: oklch(0.80 0.13 212);
  --clr-secondary-500: oklch(0.71 0.13 215);
  --clr-secondary-600: oklch(0.61 0.11 222);
  --clr-secondary-700: oklch(0.52 0.09 223);
  --clr-secondary-800: oklch(0.45 0.08 224);
  --clr-secondary-900: oklch(0.40 0.07 227);
}
