:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(0.98 0.00 0);
  --clr-neutral-100: oklch(0.96 0.00 0);
  --clr-neutral-200: oklch(0.91 0.00 0);
  --clr-neutral-300: oklch(0.84 0.00 0);
  --clr-neutral-400: oklch(0.80 0.00 0);
  --clr-neutral-500: oklch(0.50 0.00 0);
  --clr-neutral-600: oklch(0.40 0.00 0);
  --clr-neutral-700: oklch(0.30 0.00 0);
  --clr-neutral-800: oklch(0.20 0.00 0);
  --clr-neutral-900: oklch(0.17 0.00 0);

  --clr-primary-50: oklch(0.96 0.03 232);
  --clr-primary-100: oklch(0.89 0.06 239);
  --clr-primary-200: oklch(0.81 0.11 241);
  --clr-primary-300: oklch(0.74 0.14 242);
  --clr-primary-400: oklch(0.67 0.15 242);
  --clr-primary-500: oklch(0.57 0.15 249);
  --clr-primary-600: oklch(0.53 0.14 248);
  --clr-primary-700: oklch(0.47 0.13 250);
  --clr-primary-800: oklch(0.42 0.12 251);
  --clr-primary-900: oklch(0.35 0.11 253);

  --clr-secondary-50: oklch(0.95 0.02 175);
  --clr-secondary-100: oklch(0.88 0.05 173);
  --clr-secondary-200: oklch(0.80 0.08 171);
  --clr-secondary-300: oklch(0.73 0.11 169);
  --clr-secondary-400: oklch(0.68 0.12 168);
  --clr-secondary-500: oklch(0.63 0.12 166);
  --clr-secondary-600: oklch(0.59 0.12 165);
  --clr-secondary-700: oklch(0.54 0.11 163);
  --clr-secondary-800: oklch(0.49 0.10 163);
  --clr-secondary-900: oklch(0.40 0.09 158);
}
