:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     200,207,211;
--color-neutral-100:    172,183,188;
--color-neutral-200:    143,158,166;
--color-neutral-300:    115,133,143;
--color-neutral-400:    92,107,115;
--color-neutral-500:    76,89,95;
--color-neutral-600:    60,70,75;
--color-neutral-700:    44,52,56;
--color-neutral-800:    29,33,36;
--color-neutral-900:    13,15,16;
--color-primary-50:     255,255,255;
--color-primary-100:    250,251,252;
--color-primary-200:    219,228,232;
--color-primary-300:    188,204,212;
--color-primary-400:    157,180,192;
--color-primary-500:    141,168,182;
--color-primary-600:    126,156,172;
--color-primary-700:    110,144,162;
--color-primary-800:    97,132,150;
--color-primary-900:    87,118,135;
--color-secondary-50:     156,235,255;
--color-secondary-100:    105,225,255;
--color-secondary-200:    54,214,255;
--color-secondary-300:    3,204,255;
--color-secondary-400:    0,165,207;
--color-secondary-500:    0,145,181;
--color-secondary-600:    0,124,156;
--color-secondary-700:    0,104,131;
--color-secondary-800:    0,84,105;
--color-secondary-900:    0,63,79;
}