:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 255, 255, 255;
  --color-neutral-100: 238, 232, 238;
  --color-neutral-200: 206, 188, 206;
  --color-neutral-300: 174, 143, 174;
  --color-neutral-400: 140, 101, 140;
  --color-neutral-500: 116, 84, 116;
  --color-neutral-600: 93, 67, 93;
  --color-neutral-700: 69, 50, 69;
  --color-neutral-800: 45, 33, 45;
  --color-neutral-900: 21, 16, 21;
  --color-primary-50: 255, 255, 255;
  --color-primary-100: 255, 255, 255;
  --color-primary-200: 252, 205, 252;
  --color-primary-300: 249, 132, 247;
  --color-primary-400: 245, 59, 242;
  --color-primary-500: 243, 20, 239;
  --color-primary-600: 212, 11, 208;
  --color-primary-700: 173, 9, 170;
  --color-primary-800: 134, 7, 132;
  --color-primary-900: 95, 5, 94;
  --color-secondary-50: 255, 255, 255;
  --color-secondary-100: 227, 194, 253;
  --color-secondary-200: 192, 120, 251;
  --color-secondary-300: 157, 45, 249;
  --color-secondary-400: 119, 6, 212;
  --color-secondary-500: 97, 5, 172;
  --color-secondary-600: 74, 4, 133;
  --color-secondary-700: 52, 3, 93;
  --color-secondary-800: 30, 2, 53;
  --color-secondary-900: 8, 0, 14;
}
