:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(1.00 0.00 0);
  --clr-neutral-100: oklch(0.94 0.01 326);
  --clr-neutral-200: oklch(0.82 0.03 326);
  --clr-neutral-300: oklch(0.69 0.06 326);
  --clr-neutral-400: oklch(0.56 0.07 327);
  --clr-neutral-500: oklch(0.49 0.06 326);
  --clr-neutral-600: oklch(0.42 0.05 326);
  --clr-neutral-700: oklch(0.35 0.04 326);
  --clr-neutral-800: oklch(0.27 0.03 326);
  --clr-neutral-900: oklch(0.18 0.01 326);
  --clr-primary-50: oklch(1.00 0.00 0);
  --clr-primary-100: oklch(1.00 0.00 0);
  --clr-primary-200: oklch(0.90 0.08 326);
  --clr-primary-300: oklch(0.78 0.20 328);
  --clr-primary-400: oklch(0.70 0.28 329);
  --clr-primary-500: oklch(0.68 0.30 329);
  --clr-primary-600: oklch(0.61 0.28 329);
  --clr-primary-700: oklch(0.52 0.24 329);
  --clr-primary-800: oklch(0.44 0.20 329);
  --clr-primary-900: oklch(0.34 0.15 329);
  --clr-secondary-50: oklch(1.00 0.00 0);
  --clr-secondary-100: oklch(0.86 0.09 310);
  --clr-secondary-200: oklch(0.70 0.19 308);
  --clr-secondary-300: oklch(0.58 0.27 303);
  --clr-secondary-400: oklch(0.48 0.25 299);
  --clr-secondary-500: oklch(0.41 0.22 300);
  --clr-secondary-600: oklch(0.34 0.18 300);
  --clr-secondary-700: oklch(0.27 0.14 301);
  --clr-secondary-800: oklch(0.19 0.09 304);
  --clr-secondary-900: oklch(0.10 0.05 314);
}
