/* Slate scheme */
:root {
  --clr-neutral: oklch(1.00 0.00 0);
  /* Gray */
  --clr-neutral-50: oklch(0.98 0.00 248);
  --clr-neutral-100: oklch(0.97 0.00 265);
  --clr-neutral-200: oklch(0.93 0.01 265);
  --clr-neutral-300: oklch(0.87 0.01 258);
  --clr-neutral-400: oklch(0.71 0.02 261);
  --clr-neutral-500: oklch(0.55 0.02 264);
  --clr-neutral-600: oklch(0.45 0.03 257);
  --clr-neutral-700: oklch(0.37 0.03 260);
  --clr-neutral-800: oklch(0.28 0.03 257);
  --clr-neutral-900: oklch(0.21 0.03 265);
  /* Slate */
  --clr-primary-50: oklch(0.98 0.00 248);
  --clr-primary-100: oklch(0.97 0.01 248);
  --clr-primary-200: oklch(0.93 0.01 256);
  --clr-primary-300: oklch(0.87 0.02 253);
  --clr-primary-400: oklch(0.71 0.04 257);
  --clr-primary-500: oklch(0.55 0.04 257);
  --clr-primary-600: oklch(0.45 0.04 257);
  --clr-primary-700: oklch(0.37 0.04 257);
  --clr-primary-800: oklch(0.28 0.04 260);
  --clr-primary-900: oklch(0.21 0.04 266);
  /* Gray */
  --clr-secondary-50: oklch(0.98 0.00 248);
  --clr-secondary-100: oklch(0.97 0.00 265);
  --clr-secondary-200: oklch(0.93 0.01 265);
  --clr-secondary-300: oklch(0.87 0.01 258);
  --clr-secondary-400: oklch(0.71 0.02 261);
  --clr-secondary-500: oklch(0.55 0.02 264);
  --clr-secondary-600: oklch(0.45 0.03 257);
  --clr-secondary-700: oklch(0.37 0.03 260);
  --clr-secondary-800: oklch(0.28 0.03 257);
  --clr-secondary-900: oklch(0.21 0.03 265);
}
