:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     24,255,132;
--color-neutral-100:    0,228,106;
--color-neutral-200:    0,177,83;
--color-neutral-300:    0,126,59;
--color-neutral-400:    0,75,35;
--color-neutral-500:    0,50,23;
--color-neutral-600:    0,24,11;
--color-neutral-700:    0,0,0;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     166,255,125;
--color-primary-100:    132,255,74;
--color-primary-200:    97,255,23;
--color-primary-300:    72,227,0;
--color-primary-400:    56,176,0;
--color-primary-500:    48,151,0;
--color-primary-600:    40,125,0;
--color-primary-700:    32,99,0;
--color-primary-800:    24,74,0;
--color-primary-900:    15,48,0;
--color-secondary-50:     151,211,238;
--color-secondary-100:    107,192,231;
--color-secondary-200:    63,173,224;
--color-secondary-300:    33,149,203;
--color-secondary-400:    26,117,159;
--color-secondary-500:    22,101,137;
--color-secondary-600:    19,85,115;
--color-secondary-700:    15,69,93;
--color-secondary-800:    12,52,71;
--color-secondary-900:    8,36,49;
}