:root {
  --clr-neutral: oklch(1.00 0.00 0);
  --clr-neutral-50: oklch(0.96 0.06 161);
  --clr-neutral-100: oklch(0.91 0.15 158);
  --clr-neutral-200: oklch(0.88 0.21 153);
  --clr-neutral-300: oklch(0.80 0.22 150);
  --clr-neutral-400: oklch(0.59 0.16 151);
  --clr-neutral-500: oklch(0.36 0.09 152);
  --clr-neutral-600: oklch(0.28 0.07 154);
  --clr-neutral-700: oklch(0.18 0.04 158);
  --clr-neutral-800: oklch(0.18 0.04 158);
  --clr-neutral-900: oklch(0.00 0.00 0);
  --clr-primary-50: oklch(1.00 0.00 0);
  --clr-primary-100: oklch(0.98 0.04 135);
  --clr-primary-200: oklch(0.93 0.15 136);
  --clr-primary-300: oklch(0.89 0.24 138);
  --clr-primary-400: oklch(0.87 0.28 140);
  --clr-primary-500: oklch(0.66 0.21 140);
  --clr-primary-600: oklch(0.59 0.19 140);
  --clr-primary-700: oklch(0.52 0.16 139);
  --clr-primary-800: oklch(0.52 0.16 139);
  --clr-primary-900: oklch(0.18 0.05 135);
  --clr-secondary-50: oklch(1.00 0.00 0);
  --clr-secondary-100: oklch(0.97 0.01 226);
  --clr-secondary-200: oklch(0.87 0.06 228);
  --clr-secondary-300: oklch(0.77 0.10 230);
  --clr-secondary-400: oklch(0.68 0.13 234);
  --clr-secondary-500: oklch(0.53 0.10 235);
  --clr-secondary-600: oklch(0.48 0.09 234);
  --clr-secondary-700: oklch(0.42 0.08 234);
  --clr-secondary-800: oklch(0.42 0.08 234);
  --clr-secondary-900: oklch(0.18 0.03 231);
}
