{{ $jsHome := resources.Get "js/home.js" | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
<div id="background">
  {{ partial "home/background.html" . }}
</div>
<div id="hero" style="display:none">
  {{ partial "home/hero.html" . }}
</div>
<div id="profile" style="display:none">
  {{ partial "home/profile.html" . }}
</div>
<div id="card" style="display:none">
  {{ partial "home/card.html" . }}
</div>
<div id="page" style="display:none">
  {{ partial "home/page.html" . }}
</div>
<section class="max-w-7xl mx-auto px-4">
  {{ partial "sponsors.html" . }}
</section>

<section class="max-w-7xl mx-auto px-4">
  {{ partial "contributors.html" . }}
</section>

<section>
  {{ partial "recent-articles-demo.html" . }}
</section>
<script
  defer
  type="text/javascript"
  src="{{ $jsHome.RelPermalink }}"
  integrity="{{ $jsHome.Data.Integrity }}"></script>
