{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<div class="flex author">
  {{ with .Site.Params.Author.image }}
    {{ $authorImage := "" }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $authorImage = resources.GetRemote . }}
    {{ else }}
      {{ $authorImage = resources.Get . }}
    {{ end }}
    {{ if $authorImage }}
      {{ $final := $authorImage }}
      {{ if not $disableImageOptimization }}
        {{ $final = $authorImage.Fill "192x192" }}
      {{ end }}
      <img
        class="!mt-0 !mb-0 h-24 w-24 rounded-full me-4"
        width="96"
        height="96"
        alt="{{ $.Site.Params.Author.name | default " Author" }}"
        src="{{ $final.RelPermalink }}"
        data-zoom-src="{{ $authorImage.RelPermalink }}">
    {{ else }}
      {{ $authorImage := resources.GetRemote . }}
      {{ $final := $authorImage }}
      {{ if not $disableImageOptimization }}
        {{ $final = $authorImage.Fill "192x192" }}
      {{ end }}
      <img
        class="!mt-0 !mb-0 h-24 w-24 rounded-full me-4"
        width="96"
        height="96"
        alt="{{ $.Site.Params.Author.name | default " Author" }}"
        src="{{ $authorImage.RelPermalink }}"
        data-zoom-src="{{ $authorImage.RelPermalink }}">
    {{ end }}
  {{ end }}
  <div class="place-self-center">
    {{ with .Site.Params.Author.name | markdownify }}
      <div class="text-[0.6rem] uppercase leading-3 text-neutral-500 dark:text-neutral-400">
        {{ i18n "author.byline_title" | markdownify }}
      </div>
      <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
        {{ . }}
      </div>
    {{ end }}
    {{ with .Site.Params.Author.bio | markdownify }}
      <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
    {{ end }}
    <div class="text-2xl sm:text-lg">{{ partialCached "author-links.html" . }}</div>
  </div>
</div>
