<!-- {{- /* Comments area start */ -}}
<script src="https://giscus.app/client.js"
        data-repo="soaibsafi/soaibsafi.github.io"
        data-repo-id="R_kgDOL5a87Q"
        data-category="General"
        data-category-id="DIC_kwDOL5a87c4CfS4h"
        data-mapping="og:title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{- /* Comments area end */ -}} -->
