<head>
  <meta charset="utf-8">
  {{ with site.Language.Params.htmlCode | default site.LanguageCode }}
    <meta http-equiv="content-language" content="{{ . }}">
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color">

  {{/* Title */}}
  {{ if .IsHome }}
    <title>{{ site.Title | emojify }}</title>
    <meta name="title" content="{{ site.Title | emojify }}">
  {{ else }}
    <title>{{ .Title | emojify }} &middot; {{ site.Title | emojify }}</title>
    <meta name="title" content="{{ .Title | emojify }} &middot; {{ site.Title | emojify }}">
  {{ end }}

  {{/* Metadata */}}
  {{ with (.Params.Summary | default .Params.Description) | default site.Params.description }}
    <meta name="description" content="{{ . }}">
  {{ end }}
  {{ with  .Params.Tags | default site.Params.keywords }}
    <meta name="keywords" content="{{ range . }}{{ . }},{{ end }}">
  {{ end }}
  {{ with site.Params.robots }}
    <meta name="robots" content="{{ . }}">
  {{ end }}
  {{ with .Params.robots }}
    <meta name="robots" content="{{ . }}">
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ range .AlternativeOutputFormats }}
    {{ printf `
      <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink (site.Title | emojify) |
      safeHTML
    }}
  {{ end }}

  {{/* CSS */}}
  {{ $cssAssets := slice }}
  {{ with resources.Get (printf "css/schemes/%s.css" (site.Params.colorScheme | default "blowfish")) }}
    {{ $cssAssets = $cssAssets | append . }}
  {{ else }}
    {{ with resources.Get "css/schemes/blowfish.css" }}
      {{ $cssAssets = $cssAssets | append . }}
    {{ end }}
  {{ end }}
  {{ with resources.Get "css/compiled/main.css" }}
    {{ $cssAssets = $cssAssets | append . }}
  {{ end }}
  {{ with resources.Get "css/custom.css" }}
    {{ $cssAssets = $cssAssets | append . }}
  {{ end }}
  {{ if not site.Params.disableImageZoom | default true }}
    {{ with resources.Get "lib/zoom/style.css" }}
      {{ $cssAssets = $cssAssets | append . }}
    {{ end }}
  {{ end }}
  {{ with $cssAssets | resources.Concat "css/main.bundle.css" | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
    <link type="text/css" rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{ end }}

  {{/* JS */}}
  {{ with resources.Get "js/appearance.js" | resources.ExecuteAsTemplate "js/appearance.js" . | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
    <script type="text/javascript" src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
  {{ end }}
  {{ if site.Params.enableA11y | default false }}
    {{ with resources.Get "js/a11y.js" | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
      <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
    {{ end }}
  {{ end }}
  {{ if not site.Params.disableImageZoom | default true }}
    {{ with resources.Get "lib/zoom/zoom.min.umd.js" | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
      <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
    {{ end }}
  {{ end }}

  {{ $jsAssets := slice }}
  {{ if site.Params.enableSearch | default false }}
    {{ with resources.Get "lib/fuse/fuse.min.js" }}
      {{ $jsAssets = $jsAssets | append . }}
    {{ end }}
    {{ with resources.Get "js/search.js" }}
      {{ $jsAssets = $jsAssets | append . }}
    {{ end }}
  {{ end }}
  {{ if site.Params.enableCodeCopy | default false }}
    {{ with resources.Get "js/code.js" }}
      {{ $jsAssets = $jsAssets | append . }}
    {{ end }}
  {{ end }}
  {{ if site.Params.rtl | default false }}
    {{ with resources.Get "js/rtl.js" }}
      {{ $jsAssets = $jsAssets | append . }}
    {{ end }}
  {{ end }}
  {{ with resources.Get "js/mobilemenu.js" }}
    {{ $jsAssets = $jsAssets | append . }}
  {{ end }}
  {{ with resources.Get "js/button-likes.js" }}
    {{ $jsAssets = $jsAssets | append . }}
  {{ end }}
  {{ with resources.Get "js/katex-render.js" }}
    {{ $jsAssets = $jsAssets | append . }}
  {{ end }}
  {{ with $jsAssets | resources.Concat "js/main.bundle.js" | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
    <script
      defer
      type="text/javascript"
      id="script-bundle"
      src="{{ .RelPermalink }}"
      integrity="{{ .Data.Integrity }}"
      data-copy="{{ i18n `code.copy` }}"
      data-copied="{{ i18n `code.copied` }}"></script>
  {{ end }}

  {{/* Icons */}}
  {{ if templates.Exists "partials/favicons.html" }}
    {{ partialCached "favicons.html" . }}
  {{ else }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ `apple-touch-icon.png` | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ `favicon-32x32.png` | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ `favicon-16x16.png` | relURL }}">
    <link rel="manifest" href="{{ `site.webmanifest` | relURL }}">
  {{ end }}

  {{/* Site Verification */}}
  {{ with site.Params.verification.google }}
    <meta name="google-site-verification" content="{{ . }}">
  {{ end }}
  {{ with site.Params.verification.bing }}
    <meta name="msvalidate.01" content="{{ . }}">
  {{ end }}
  {{ with site.Params.verification.pinterest }}
    <meta name="p:domain_verify" content="{{ . }}">
  {{ end }}
  {{ with site.Params.verification.yandex }}
    <meta name="yandex-verification" content="{{ . }}">
  {{ end }}
  {{ with site.Params.verification.fediverse }}
    <meta name="fediverse:creator" content="{{ . }}">
  {{ end }}

  {{/* Social */}}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  {{/* Main page always uses this; fallback elsewhere if no feature image */}}
  {{/* See https://gohugo.io/templates/embedded/#open-graph */}}
  {{ $images := .Resources.ByType "image" }}
  {{ $socialImage := $images.GetMatch "*feature*" }}

  {{ if not $socialImage }}
    {{ with site.Params.defaultSocialImage }}
      {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $socialImage = resources.GetRemote . }}
      {{ else }}
        {{ $socialImage = resources.Get . }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ with $socialImage }}
    <meta name="twitter:image" content="{{ .RelPermalink | absURL }}">
    <meta property="og:image" content="{{ .RelPermalink | absURL }}">
  {{ end }}

  {{/* Schema */}}
  {{ partial "schema.html" . }}

  {{/* Me */}}
  {{ with site.Params.Author.name }}
    <meta name="author" content="{{ . }}">
  {{ end }}
  {{ with site.Params.Author.links }}
    {{ range $links := . }}
      {{ range $name, $url := $links }}
        {{ if not (strings.HasPrefix $url "mailto:") }}
          <link href="{{ $url }}" rel="me">
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* Vendor */}}
  {{ partial "vendor.html" . }}

  {{/* Analytics */}}
  {{ partial "analytics/main.html" . }}

  {{/* Extend head - eg. for custom analytics scripts, etc. */}}
  {{ if templates.Exists "partials/extend-head.html" }}
    {{ partialCached "extend-head.html" . }}
  {{ end }}

  {{/* Uncached extend head - Example: https://gohugo.io/methods/page/hasshortcode/ */}}
  {{ if templates.Exists "partials/extend-head-uncached.html" }}
    {{ partial "extend-head-uncached.html" . }}
  {{ end }}

  {{/* Firebase */}}
  {{ with site.Params.firebase }}
    {{ if isset site.Params "firebase" }}
      <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
      <script>

        const firebaseConfig = {
          apiKey: {{ site.Params.firebase.apiKey }},
          authDomain: {{ site.Params.firebase.apiKey }},
          projectId: {{ site.Params.firebase.projectId }},
          storageBucket: {{ site.Params.firebase.storageBucket }},
          messagingSenderId: {{ site.Params.firebase.messagingSenderId }},
          appId: {{ site.Params.firebase.appId }},
          measurementId: {{ site.Params.firebase.measurementId }}
        };

        var app = firebase.initializeApp(firebaseConfig);
        var db = firebase.firestore();
        var auth = firebase.auth();

      </script>
    {{ end }}
  {{ end }}

  {{/* Advertisement */}}
  {{ with site.Params.advertisement.adsense }}
    <meta name="google-adsense-account" content="{{ . }}">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ . }}"
      crossorigin="anonymous"></script>
  {{ end }}
</head>
