<div style="display: flex; align-items: center; justify-content: center;">
    <iframe width="540" height="305" src="https://b3fbfc70.sibforms.com/serve/MUIFAHzXoXFtaINNsBNBctF2oNCu4kyEuSzi_RR6EHQAWqjSpDAGF-szqMtR9hMrELvNrq0cjPLsDxx3hMmvmfoQ2tOPNxtHyHaWWnugXchm50T-GWXuJ6aNtVg2aIHz14nUaYaqUH9r46bK_3VPfJGwi1wFPZlIh_ArNyuDAqM-WWFbFM-75ZCRlJQPhow7Opemlej6luOcx554" frameborder="0" scrolling="auto" allowfullscreen style="display: block; max-width: 100%;"></iframe>
</div>

<style>
    iframe {
        margin-right: 10px; /* distanța dintre caseta de input și buton */
    }

    .sib-form {
        display: flex;
        align-items: center; /* aliniază vertical */
    }

    .sib-form input[type="submit"] {
        margin-left: 10px; /* distanța dintre caseta de input și buton */
    }
</style>