<header class="py-6 font-semibold text-neutral-900 dark:text-neutral print:hidden sm:py-10">
  <nav class="flex justify-between">
    {{/* Site logo/title */}}
    <div class="z-40">
      {{ if .Site.Params.Logo -}}
        {{ $logo := resources.Get .Site.Params.Logo }}
        {{ if $logo }}
          <a href="{{ "" | relLangURL }}">
            <img
              src="{{ $logo.RelPermalink }}"
              width="{{ div $logo.Width 2 }}"
              height="{{ div $logo.Height 2 }}"
              class="max-h-[10rem] max-w-[10rem] object-scale-down object-left"
              alt="{{ .Site.Title }}"
            />
          </a>
        {{ end }}
      {{ else }}
        <a
          class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
          rel="me"
          href="{{ "" | relLangURL }}"
          >{{ .Site.Title | markdownify | emojify }}</a
        >
      {{- end }}
      {{ partial "translations.html" . }}
    </div>
    {{/* Hamburger menu */}}
    {{ if or .Site.Menus.main (.Site.Params.enableSearch | default false) }}
      <label id="menu-button" for="menu-controller" class="block">
        <input type="checkbox" id="menu-controller" class="hidden" />
        <div class="cursor-pointer hover:text-primary-600 dark:hover:text-primary-400">
          {{ partial "icon.html" "bars" }}
        </div>
        <div
          id="menu-wrapper"
          class="fixed inset-0 z-30 invisible w-screen h-screen m-auto overflow-auto transition-opacity opacity-0 cursor-default bg-neutral-100/50 backdrop-blur-sm dark:bg-neutral-900/50"
        >
          <ul
            class="flex flex-col w-full px-6 py-6 mx-auto overflow-visible list-none max-w-7xl ltr:text-right rtl:text-left sm:px-14 sm:py-10 sm:pt-10 md:px-24 lg:px-32"
          >
            <li class="mb-1">
              <span class="cursor-pointer hover:text-primary-600 dark:hover:text-primary-400"
                >{{ partial "icon.html" "xmark" }}</span
              >
            </li>
            {{ if .Site.Menus.main }}
              {{ range .Site.Menus.main }}
                <li class="mb-1">
                  <a
                    class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                    >{{ .Name | markdownify | emojify }}</a
                  >
                </li>
              {{ end }}
            {{ end }}
            {{ if .Site.Params.enableSearch | default false }}
              <li>
                <button
                  id="search-button"
                  class="text-base hover:text-primary-600 dark:hover:text-primary-400"
                  title="{{ i18n "search.open_button_title" }}"
                >
                  {{ partial "icon.html" "search" }}
                </button>
              </li>
            {{ end }}
          </ul>
        </div>
      </label>
    {{ end }}
  </nav>
</header>
