<li class="mt-1">
    <a class="flex items-center text-gray-500 hover:text-primary-600 dark:hover:text-primary-400">
        {{ if .Pre }}
        <span {{ if and .Pre .Name}} class="mr-1" {{ end }}>
            {{ partial "icon.html" .Pre }}
        </span>
        {{ end }}
        <p class="text-bg font-bg" title="{{ .Title }}">
            {{ .Name | markdownify }}
        </p>
        <span>
            {{ partial "icon.html" "chevron-down" }}
        </span>
    </a>
</li>
{{ range .Children }}
<li class="mt-1">
    <a href="{{ .URL }}" {{ if or (strings.HasPrefix .URL "http:" ) (strings.HasPrefix .URL "https:"
        ) }} target="_blank" {{ end }} class="flex items-center text-gray-500 hover:text-primary-600 dark:hover:text-primary-400">
        {{ if .Pre }}
        <span {{ if and .Pre .Name}} class="mr-1" {{ end }}>
            {{ partial "icon.html" .Pre }}
        </span>
        {{ end }}
        <p class="text-sm font-small" title="{{ .Title }}">
            {{ .Name | markdownify }}
        </p>
    </a>
</li>
{{ end }}
<li class="mb-2"></li>
