<li class="mt-1">
  <a
    href="{{ .URL }}"
    {{ if or (strings.HasPrefix .URL "http:" ) (strings.HasPrefix .URL "https:"
      )
    }}
      target="_blank"
    {{ end }}
    class="flex items-center text-gray-500 hover:text-primary-600 dark:hover:text-primary-400">
    {{ if .Pre }}
      <div {{ if and .Pre .Name }}class="mr-2"{{ end }}>
        {{ partial "icon.html" .Pre }}
      </div>
    {{ end }}
    <p class="text-bg font-bg" title="{{ .Title }}">
      {{ .Name | markdownify }}
    </p>
  </a>
</li>
