<li class="mt-1">
  <a
    href="{{ .URL }}"
    {{ if or (strings.HasPrefix .URL "http:" ) (strings.HasPrefix .URL "https:"
      )
    }}
      target="_blank"
    {{ end }}
    class="flex items-center hover:text-primary-600 dark:hover:text-primary-400"
    {{ with or .Name .Pre }}aria-label="{{ . }}"{{ end }}
    title="{{ .Title }}">
    {{ if .Pre }}
      <div {{ if and .Pre .Name }}class="mr-2"{{ end }}>
        {{ partial "icon.html" .Pre }}
      </div>
    {{ end }}
    {{ if .Name }}
      <p class="text-bg font-bg">
        {{ .Name | markdownify }}
      </p>
    {{ end }}
  </a>
</li>
