<nav class="hidden md:flex items-center gap-x-5 md:ml-12 h-12">
  {{ if .Site.Menus.main }}
    {{ range .Site.Menus.main }}
      {{ partial "header/header-option.html" . }}
    {{ end }}
  {{ end }}

  {{ partial "header/components/translations.html" . }}
  {{ if .Site.Params.enableA11y | default false }}
    {{ partial "header/components/a11y.html" (dict "prefix" "desktop-" "Site" .Site) }}
  {{ end }}

  {{ if .Site.Params.enableSearch | default false }}
    <button
      id="search-button"
      aria-label="Search"
      class="text-base hover:text-primary-600 dark:hover:text-primary-400"
      title="{{ i18n "search.open_button_title" }}">
      {{ partial "icon.html" "search" }}
    </button>
  {{ end }}

  {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
    <div class="{{ if .Site.Params.footer.showScrollToTop | default true -}}{{- end }} flex items-center">
      <button
        id="appearance-switcher"
        aria-label="Dark mode switcher"
        type="button"
        class="text-base hover:text-primary-600 dark:hover:text-primary-400">
        <div class="flex items-center justify-center dark:hidden">
          {{ partial "icon.html" "moon" }}
        </div>
        <div class="items-center justify-center hidden dark:flex">
          {{ partial "icon.html" "sun" }}
        </div>
      </button>
    </div>
  {{ end }}
</nav>
